.post-detail-body {
    width: 80%;
    min-height: 100vh;
    margin: 30px auto;
    justify-content: center;
    align-self: center;
}

#post-detail-header {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

#post-detail-title {
    text-align: center;
    font-size: 64px;
    color: var(--blue-green);
    font-weight: 700;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#post-detail-category {
    background-color: var(--gray);
    font-size: 40px;
    font-weight: 700;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

#post-detail-image {
    width: 1083px;
    max-height: 444px;
    object-fit: contain;
}

#post-detail-author {
    display: flex;
    width: 80%;
    height: 89px;
    align-items: center;
}

#post-detail-author-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

#post-detail-author-name {
    margin-left: 7px;
}