.comment-body {
    display: flex;
    gap: 15px;
    background-color: white;
    box-shadow: -1px 2px 2px 2px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    width: 50%;
    padding: 10px;
    margin-bottom: 10px;
}

.comment-imgs {
    display: flex;
    flex-direction: column;
    width: 10%;
    height: 100%;
}

.comment-imgs img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.comment-profile-picture {
    display: flex;
    background-color: lightblue;
    border-radius: 50%;
    padding: 5px;
    height: 100%;
    width: 10%;
}

.comment-profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.comment-author {
    font-size: 20px;
    font-weight: 700;
}

.comment-text {
    width: 80%
}

.comment-content {
    word-break: break-all;
}