.leaflet-popup-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.leaflet-popup-content img {
    width: 64px;
    height: 64px;
    object-fit: cover;
    border-radius: 50%;
}